<!DOCTYPE html>
<html>
<head>
    <title>Frame Display</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            {% for frame in frames %}
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ frame.name }}</h5>
                        <iframe src="{% url 'frames:display_urls' frame.id %}" class="w-100" height="400" frameborder="0" ></iframe>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>